
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Prison Data</title>

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap" rel="stylesheet">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a id="navbarlink" href="/">Home</a></li>
            <li><a id="navbarlink" href="/">Analysis</a></li>
            <li><a id="navbarlink" href="/third">Simulation</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">

      <div class="starter-template" style="margin-top: 180px;">
        <p class="simulationbox">
          <div class="simulation">
            <form action="/second" method="post" name="form">
          <div class="simbuttonwrapper">
            
            <input type="radio" name="factor" id="skintone" value="skintone" onClick="changeColor('skintone'); this.form.submit(); "><label for='skintone' class="button" class="centerimage">Skin Tone</label>
            <input type="radio" name="factor" id="gender" value="gender" onClick="changeColor('gender'); this.form.submit(); "><label for='gender' class="button" class="centerimage" >Gender</label>
            <input type="radio" name="factor" id="citizenship" value="citizenship" onClick="changeColor('citizenship'); this.form.submit(); "><label for='citizenship' class="button" class"centerimage">Citizenship Status</label>
          
          </div>
          </form>
          
          <div class="row">
            <h2 class="col-sm-6"> {{ var_name1 }}</h2>
            <h2 class="col-sm-6"> {{ var_name2 }}</h2>
          </div>
          <div class="row">
            <p class="col-sm-6"> {{ bail_pct1 }} got bail</p>
            <p class="col-sm-6"> {{ bail_pct2 }} got bail</p>
          </div>
          <div class="row">
            <p class="col-sm-6"> Average bail: ${{ bail_avg1 }}</p>
            <p class="col-sm-6"> Average bail: ${{ bail_avg2 }}</p>
          </div>
          <br>
          <div class="row">
            <h4 class="col-sm-6" id= "heading"> <div id="heading">Top Charges</div></h4>
            <h4 class="col-sm-6" id= "heading"><div id="heading">Top Charges</div></h4>
          </div>

            {%for i in range(0, 3)%}
            <div class="row">
            <ol class="col-sm-6">{{top_charges1[i]}}</ol> 
            
            
            
            <ol class="col-sm-6">{{top_charges2[i]}}</ol> 
          </div>
            {%endfor%}
          </div>

          </div>
        </p>
      </div>
<div class="flourish-embed text-center" data-src="visualisation/{{source}}" data-width="50%"></div><script src="https://public.flourish.studio/resources/embed.js"></script>



</div>
    <script>
      function changeColor(name){
        var labelText = document.getElementById(name);
        labelText.style.backgroundColor = "#c1534e";
      };
    </script>
    

  </body>
</html>